[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
torch = "*"
torchtext = "*"
spacy = "*"
nltk = "*"
ptipython = "*"
prompt-toolkit = "*"
gunicorn = "*"
django-cors-headers = "*"
django-heroku = "*"

[dev-packages]
ptipython = "*"
django-extensions = "*"
prompt-toolkit = "*"

[requires]
python_version = "3.6"
