[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
torch = "==0.4.0"
spacy = "==2.0.0"
dill = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
