[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
torch = "==0.4.1"
spacy = "*"
dill = "*"
gunicorn = "*"
torchvision = "*"
torchtext = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.6"
